1. abs() Mengembalikan nilai absolut untuk setiap elemen numerik

In [3]:
import pandas as pd

#membuat DataFrame dengan dua kolom A dan B, masing-masing berisi angka negatif dan positif
data = {'A' : [-10, 20, -30, 40], 'B': [5, -15, 25, -35]}
df = pd.DataFrame(data)


print("Data awal : ")
print(df)

#mengubah setiap angka menjadi nilai absolutnya
df_abs = df.abs()

print("\nDataFrame setelah abs():")
print(df_abs)

Data awal :
    A   B
0 -10   5
1  20 -15
2 -30  25
3  40 -35

DataFrame setelah abs():
    A   B
0  10   5
1  20  15
2  30  25
3  40  35

2. add() Mengembalikan hasil penjumlahan data series pertama
dengan data series kedua

3. append() Menggabungkan data series pertama dengan data series ke
dua

In [4]:
import pandas as pd

#membuat dua series dengan inindexedx berbeda
s1 = pd.Series([10, 20, 30, 40], ['a', 'b', 'c', 'd'])
s2 = pd.Series([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

#membuat variabel hasil yang berisi untuk menjumlahkan s1 dengan s2
jumlah = s1.add(s2)

#menggabungkan kedua series
gabung = s1.append(s2)

print("Series Pertama :")
print(s1)

print("Series Kedua :")
print(s2)

print("Jawaban No 2.")
print("\n Hasil Penjumlahan :")
print(jumlah)

print("Jawaban No 3.")
print("\n Hasil Penggabungan :")
print(gabung)

Series Pertama :
a    10
b    20
c    30
d    40
dtype: int64
Series Kedua :
a    1
b    2
c    3
d    4
dtype: int64
Jawaban No 2.

 Hasil Penjumlahan :
a    11
b    22
c    33
d    44
dtype: int64
Jawaban No 3.

 Hasil Penggabungan :
a    10
b    20
c    30
d    40
a     1
b     2
c     3
d     4
dtype: int64

C:\Users\Silvy Nur Azkia\AppData\Local\Temp\ipykernel_2744\2119025018.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gabung = s1.append(s2)

4. argmax() Mengembalikan index data series dengan nilai maksimum
pertama

5. argmin() Mengembalikan index data series dengan nilai minimum
pertama

6. argsort() Mengembalikan index data series yang nilai datanya telah
diurutkan dari terkecil ke terbesar

In [ ]:
import pandas as pd

s = pd.Series([10, 20, 5, 30, 25], index=['a', 'b', 'c', 'd', 'e'])

indeks_max = s.idxmax() #mengembalikan index dengan nilai maksimum NO. 4
index_min = s.idxmin()  #mengembalikan index dengan nilai minimum NO. 5

index_urut = s.argsort() #mengembalikan index dengan urut mulai dari yang terkecil ke terbesar NO.6 

print("Jabawan No.4")
print("Series:\n", s)
print("Indeks nilai maksimum pertama:", indeks_max)

print("\nJabawan No.5")
print("Series:\n",s)
print("Indeks nilai minimum pertama:", index_min)

print("\nJabawan No.6")
print("Series Awal:\n", s)
print("Indeks nilai berurutan dari yang terkecil:", index_urut)

Jabawan No.4
Series:
 a    10
b    20
c     5
d    30
e    25
dtype: int64
Indeks nilai maksimum pertama: d

Jabawan No.5
Series:
 a    10
b    20
c     5
d    30
e    25
dtype: int64
Indeks nilai minimum pertama: c

Jabawan No.6
Series Awal:
 a    10
b    20
c     5
d    30
e    25
dtype: int64
Indeks nilai berurutan dari yang terkecil: a    2
b    0
c    1
d    4
e    3
dtype: int64

7. copy() Melakukan copy data series

In [7]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

#membuat salinan Series
s2 = s1.copy()

#mengubah nilai di Series salinan
s2['b'] = 100

print("Series Asli:\n", s1)
print("\nSeries Copy (Setelah Diubah):\n", s2)

Series Asli:
 a    10
b    20
c    30
d    40
dtype: int64

Series Copy (Setelah Diubah):
 a     10
b    100
c     30
d     40
dtype: int64

8. count() Mengembalikan jumlah data series yang tidak memiliki null

In [8]:
import pandas as pd
import numpy as np

#membuat Series dengan beberapa nilai NaN
s = pd.Series([10, 20, np.nan, 30, np.nan, 40])

#menghitung jumlah elemen yang tidak NaN
tidak_nan = s.count()

#menghitung total elemen termasuk NaN
total_elemen = s.size

print("Series:")
print(s)

print("\nJumlah elemen yang tidak NaN:", tidak_nan)
print("Total elemen dalam Series:", total_elemen)

Series:
0    10.0
1    20.0
2     NaN
3    30.0
4     NaN
5    40.0
dtype: float64

Jumlah elemen yang tidak NaN: 4
Total elemen dalam Series: 6

9. cov() Menghitung nilai covariance dari dua data series

= Covariance menunjukkan hubungan linier antara dua variabel

In [9]:
import pandas as pd

s1 = pd.Series([11, 21, 31, 41, 51])
s2 = pd.Series([5, 15, 25, 35, 45])

#menghitung covariance antara s1 dan s2
covariance = s1.cov(s2)

print("Series 1:")
print(s1)

print("\nSeries 2:")
print(s2)

print("\nCovariance antara Series 1 dan Series 2:", covariance)

Series 1:
0    11
1    21
2    31
3    41
4    51
dtype: int64

Series 2:
0     5
1    15
2    25
3    35
4    45
dtype: int64

Covariance antara Series 1 dan Series 2: 250.0


9. cov() Menghitung nilai covariance dari dua data series
10. div() Mengembalikan hasil bagi data series pertama dengan data
series kedua
11. dot() Mengembalikan hasil perkalian titik antara dua data series

In [14]:
import pandas as pd

s1 = pd.Series([11, 21, 31, 41, 51])
s2 = pd.Series([5, 15, 25, 35, 45])

#menghitung covariance antara s1 dan s2
covariance = s1.cov(s2) #No. 9

#membagi setiap elemen s1 dengan s2
bagi = s1.div(s2) #NO. 10

#perkalian titik antara dua data series
dot_product = s1.dot(s2)

#N0. 9
print("Series 1:")
print(s1)

print("\nSeries 2:")
print(s2)

print("Covariance antara Series 1 dan Series 2:", covariance)  #No. 9

#No. 10
print("\nHasil Pembagian:")
print(bagi)

#No. 11
print("\nHasil Perkalian Titik antara Dua Data Series:", dot_product)

Series 1:
0    11
1    21
2    31
3    41
4    51
dtype: int64

Series 2:
0     5
1    15
2    25
3    35
4    45
dtype: int64
Covariance antara Series 1 dan Series 2: 250.0

Hasil Pembagian:
0    2.200000
1    1.400000
2    1.240000
3    1.171429
4    1.133333
dtype: float64

Hasil Perkalian Titik antara Dua Data Series: 4875

12. drop(labels =
[‘index’]) Menghapus elemen data series pada label ‘index’ tertentu
13. drop_duplicates() Menghapus setiap elemen data series yang ganda atau ganda

In [ ]:
import pandas as pd

s1 = pd.Series([11, 21, 31, 41, 51], index=['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([10, 20, 30, 20, 40, 10, 50, 30])

#menghapus elemen data series pada index b 
s_drop = s1.drop(labels=['b']) #No. 12

#menghapus setiap elemen data series yang duplicate
s_dup = s2.drop_duplicates() #No. 13

#No. 12
print("Series Asli:")
print(s1)

print("\nSeries setelah menghapus index 'b':")
print(s_drop)


#No. 13
print("\nSeries dengan Duplikasi:")
print(s2)

print("\nSeries setelah Menghapus Duplikasi:")
print(s_dup)

Series Asli:
a    11
b    21
c    31
d    41
e    51
dtype: int64

Series setelah menghapus index 'b':
a    11
c    31
d    41
e    51
dtype: int64

Series dengan Duplikasi:
0    10
1    20
2    30
3    20
4    40
5    10
6    50
7    30
dtype: int64

Series setelah Menghapus Duplikasi:
0    10
1    20
2    30
4    40
6    50
dtype: int64

14. dropna() Mengembalikan data series yang telah dihapus atau dibuang
data yang mengandung missing value

In [11]:
import pandas as pd
import numpy as np

#membuat Series dengan nilai NaN (missing value)
s_na = pd.Series([10, np.nan, 30, 40, np.nan, 50])

#menghapus elemen yang mengandung NaN
s_clean = s_na.dropna() #No. 14

#No. 14
print("\nJawaban No. 14")
print("Series Asli:")
print(s_na)

print("\nSeries setelah Menghapus Missing Value:")
print(s_clean)

Jawaban No. 14
Series Asli:
0    10.0
1     NaN
2    30.0
3    40.0
4     NaN
5    50.0
dtype: float64

Series setelah Menghapus Missing Value:
0    10.0
2    30.0
3    40.0
5    50.0
dtype: float64

15. duplicated() Menentukan apakah nilai elemen suatu data series ada yang
nilainya sama yang dikembalikan dalam nilai boolean

In [7]:
import pandas as pd
import numpy as np

#membuat Series dengan nilai duplikat
s_dup = pd.Series([10, 20, 30, 20, 40, 10, 50, 30])

#mencari elemen yang duplikat
s_check_dup = s_dup.duplicated() #No. 15

#No. 15
print("\nJawaban No. 15")
print("Series Asli:")
print(s_dup)

print("\nBoolean untuk Menunjukkan Elemen Duplikat:")
print(s_check_dup)

Jawaban No. 15
Series Asli:
0    10
1    20
2    30
3    20
4    40
5    10
6    50
7    30
dtype: int64

Boolean untuk Menunjukkan Elemen Duplikat:
0    False
1    False
2    False
3     True
4    False
5     True
6    False
7     True
dtype: bool

16. idmax() Mengembalikan index data series yang mengandung nilai
maksimum pertama
17. idmin() Mengembalikan index data series yang mengandung nilai
minimum pertama

In [13]:
import pandas as pd

# Membuat Series
s = pd.Series([10, 25, 8, 50, 30], index=['a', 'b', 'c', 'd', 'e'])

# Mendapatkan index dari nilai maksimum pertama
index_maks = s.idxmax() #N0. 16

#mendapatkan index dari nilai minimum pertama
index_min = s.idxmin() #No. 17

print("Series Asli:")
print(s)

print("\nJawaban No. 16")
print("Index dari Nilai Maksimum Pertama:", index_maks)

print("\nJawaban No. 17")
print("Index dari Nilai Minimum Pertama:", index_min)

Series Asli:
a    10
b    25
c     8
d    50
e    30
dtype: int64

Jawaban No. 16
Index dari Nilai Maksimum Pertama: d

Jawaban No. 17
Index dari Nilai Minimum Pertama: c

18. isin([val]) Mengembalikan nilai Boolean kesamaan nilai setiap data
series

In [17]:
import pandas as pd

s = pd.Series([10, 25, 8, 50, 30], index=['a', 'b', 'c', 'd', 'e'])

#mengecek apakah nilai dalam Series ada di dalam list [10, 50, 100]
hasil = s.isin([10, 50, 100])

print("Series Asli:")
print(s)

print("\nJawaban No. 18")
print("Cek apakah nilainya ada dalam [10, 50, 100]:")
print(hasil)

Series Asli:
a    10
b    25
c     8
d    50
e    30
dtype: int64

Jawaban No. 18
Cek apakah nilainya ada dalam [10, 50, 100]:
a     True
b    False
c    False
d     True
e    False
dtype: bool

19. isna()
Menentukan atau menguji apakah nilai suatu data series
mengandung suatu nilai missing value. Jika nilai missing
value akan mengembalikan nilai True.

In [19]:
import pandas as pd
import numpy as np

#membuat Series dengan beberapa missing value (NaN)
s = pd.Series([100, np.nan, 250, None, 500], index=['a', 'b', 'c', 'd', 'e'])

#mengecek apakah ada missing value
hasil = s.isna()

print("Series Asli:")
print(s)

print("\nCek apakah terdapat missing value:")
print(hasil)

Series Asli:
a    100.0
b      NaN
c    250.0
d      NaN
e    500.0
dtype: float64

Cek apakah terdapat missing value:
a    False
b     True
c    False
d     True
e    False
dtype: bool

20. isnull() Menentukan atau menguji apakah nilainya suatu nilai
missing value

In [3]:
import pandas as pd
import numpy as np

#membuat Series dengan beberapa missing value (NaN)
s = pd.Series([70, np.nan, 55, None, 90], index=['a', 'b', 'c', 'd', 'e'])

#mengecek apakah ada missing value
hasil = s.isnull()

print("\nJawaban No. 20")
print("Series Asli:")
print(s)

print("\nCek apakah terdapat missing value:")
print(hasil)

Jawaban No. 20
Series Asli:
a    70.0
b     NaN
c    55.0
d     NaN
e    90.0
dtype: float64

Cek apakah terdapat missing value:
a    False
b     True
c    False
d     True
e    False
dtype: bool

21. max() Mengembalikan nilai maksimum dari data series
22. mean() Menghitung nilai rata-rata data series dan dikembalikan
dalam tipe data float
23. median() Mengembalikan nilai tengah data series setelah datanya
diurutkan mulai terkecil ke terbesar
24. min() Mengembalikan nilai minimum dari data series

In [7]:
import pandas as pd

s = pd.Series([10, 25, 50, 40, 5])

#untuk mendapatkan nilai maksimum
maks = s.max() #NO. 21

#untuk menghitung nilai rata-rata dari series
rata = s.mean() #No. 22

#mengembalikan nilai tengah berdasarkan urutan terkecil
median = s.median() #No. 23

#untuk mendaptkan nilai minimum 
min = s.min() #NO. 24

print("Series:")
print(s)

print("\nJawaban No.21")
print("Nilai Maksimum:", maks)

print("\nJawaban No.22")
print("Nilai Rata-Rata:", rata)

print("\nJawaban No.23")
print("Nilai Tengah Berdasarkan Nilai Terkecil:", median)

print("\nJawaban No.24")
print("Nilai Minimum:", min)

Series:
0    10
1    25
2    50
3    40
4     5
dtype: int64

Jawaban No.21
Nilai Maksimum: 50

Jawaban No.22
Nilai Rata-Rata: 26.0

Jawaban No.23
Nilai Tengah Berdasarkan Nilai Terkecil: 25.0

Jawaban No.24
Nilai Minimum: 5

25. mod() Mengembalikan hasil sisa bagi dari data series pertama
dengan data series kedua
26. mul() Mengembalikan hasil kali data series pertama dengan data
series kedua

In [8]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40, 50])
s2 = pd.Series([3, 7, 4, 6, 9])

#menghitung sisa hasil bagi
hasil_mod = s1.mod(s2)

#menghitung hasil perkalian dua series
mull = s1.mul(s2)

print("Series Pertama:")
print(s1)

print("\nSeries Kedua:")
print(s2)

print("\nJawaban No. 25")
print("Hasil Sisa Bagi (modulo):")
print(hasil_mod)

print("\nJawaban No. 26")
print("Hasil Kali Kedua Series:")
print(mull)

Series Pertama:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Series Kedua:
0    3
1    7
2    4
3    6
4    9
dtype: int64

Jawaban No. 25
Hasil Sisa Bagi (modulo):
0    1
1    6
2    2
3    4
4    5
dtype: int64

Jawaban No. 26
Hasil Kali Kedua Series:
0     30
1    140
2    120
3    240
4    450
dtype: int64

27. notna()
Mengembalikan nilai Boolean tidak adanya nilai data series
yang memiliki missing value. Method memberikan nilai true
jika nilai data series bukan null.

In [12]:
import pandas as pd

s = pd.Series([70, np.nan, 55, None, 90], index=['a', 'b', 'c', 'd', 'e'])

#mengecek apakah terdapat missing value pada data
nott = s.notna()

print(s)
print("\nJawaban No.27")
print("Mengambalikan Data dalam Nilai Boolean:")
print(nott)

a    70.0
b     NaN
c    55.0
d     NaN
e    90.0
dtype: float64

Jawaban No.27
Mengambalikan Data dalam Nilai Boolean:
a     True
b    False
c     True
d    False
e     True
dtype: bool

28. nunique() Mengembalikan banyaknya bilangan unik

In [ ]:
import pandas as pd

s1 = pd.Series([10,5,5,10,9,2,4,6,4,2,3,4,4,2,])

#menghibung banyaknya bilangan unik dari data series
niq = s1.nunique()

print("Data Series: ")
print(s1)
print("\nJawaban No. 28")
print("Banyaknya bilangan unik:", niq)

Data Series:
0     10
1      5
2      5
3     10
4      9
5      2
6      4
7      6
8      4
9      2
10     3
11     4
12     4
13     2
dtype: int64

Jawaban No. 28
Banyaknya bilangan unik: 7

29. pop(item=’index’) Mengembalikan elemen pada index ke ‘index’ kemudian
mengeluarkan elemen ke ‘index’ dari data series

In [21]:
import pandas as pd

s = pd.Series([70, 20, 55, 99, 90], index=['a', 'b', 'c', 'd', 'e'])

#menghapus data dari dalam series dengan index 'd'
hapus = s.pop('d')

print("series setelah pop: ")
print(s)
print("\nJawaban No. 29")
print("Data Series yang telah dihapus: ")
print(hapus)

series setelah pop:
a    70
b    20
c    55
e    90
dtype: int64

Jawaban No. 29
Data Series yang telah dihapus:
99